TELEGRAM_BOT_TOKEN=8735583902:AAGRINIWj1gaQMFfHskH8PQ42h9TBMJ7xD8
ADMIN_TELEGRAM_ID=8380674482
MINI_APP_URL=https://your-domain.com
FIREBASE_PROJECT_ID=refar-shop
FIREBASE_PRIVATE_KEY=your_firebase_private_key
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_CLIENT_ID=your_firebase_client_id
FIREBASE_CERT_URL=your_firebase_cert_url
PORT=3000
NODE_ENV=production